.profile{
    margin-top:20px;
    width: 100%;
    display: flex;
    padding: 30px 150px;
    justify-content: space-between;
    margin-bottom: 50px;
}
.profile .photo{
    background-color:grey;
    
    min-width: 300px;
    height: 300px;
    border-radius: 300px;
    margin-right: 60px;
}
.profile .info{
    padding-top: 30px ;
    width: auto;
    height: 300px;
    margin-left: 20px;
    position: relative;
}
.profile .info h3{
    font-size: 2em;
    margin-bottom: 20px;
}
.profile .info p{
    font-size: 1.5em;
}
.profile .info a{
    text-decoration: none;
    border: .8px solid grey;
    padding: 8px 15px;
    background-color: rgba(150,210,254,0.8);
    border-radius: 5px;
    position:absolute;
    bottom:10px;
    left: 10px;
}