.profile{
    margin-top:20px;
    width: 100%;
    display: flex;
    padding: 30px 150px;
    justify-content: space-between;
    margin-bottom: 150px;
    margin-top: 100px;
}
.profile .photo{
    background-color:grey;
    
    min-width: 300px;
    height: 300px;
    border-radius: 300px;
    margin-right: 60px;
}
.photo img{
    width: 100%;
    height: auto;
}
.profile .info{
    padding-top: 30px ;
    width: auto;
    height: 300px;
    margin-left: 20px;
    position: relative;
}
.profile .info h3{
    font-size: 2em;
    margin-bottom: 20px;
}
.profile .info p{
    font-size: 1.5em;
}
.profile .info a{
    text-decoration: none;
    border: .8px solid grey;
    color: black;
    padding: 8px 15px;
    background-color: rgba(150,210,254,0.8);
    border-radius: 5px;
    position:absolute;
    bottom:10px;
    left: 10px;
}

@media (max-width:769px){
    .profile{
        padding: 10px 20px;
        margin-bottom: 50px;
    }
    .profile .photo{
        margin-right: 20px;
    }
    .profile .info{
        margin-left: 10px;
        margin-right: 5px;
        height: 300px;
    }
    .profile .info h3{
        font-size: 1.42em;
        text-align: justify;
    }
    .profile .info p{
        font-size: 1.26em;
        text-align: justify;
    }
}