.project_detailed {
    width: 95%;
    height: 400px;
    margin: 25px auto;
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.5);
        padding: 2px;
        border-radius: 5px;
    }

.project_detailed>img {
    width: 28%;
    height: 100%;
    border-radius: 10px;
    transition: ease-in-out .6s;
    position: relative;
    z-index: 2;
    
}

.project_detailed>img:hover {
    transform: scale(1.1);
}

.project_detailed .project_description {
    width: 72%;
    height: 100%;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.project_detailed .project_description h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.project_detailed .project_description p {
    text-align: justify;
}

.project_detailed .project_description .technologies {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex start;

}

.project_description .technologies p {
    width: 100%;
    margin-bottom: 10px;
}

.project_detailed .project_description .technologies div {
    margin: 0 15px;
    text-align: center;
}

.project_detailed .project_description .technologies div img {
    width: 30px;
    height: 30px;
}

.project_detailed .project_description .links {
    margin-top: auto;
    display: flex;
    width: 100%;
    justify-content: flex-start;

}

.project_description .links div {
    margin: 0 20px;
    text-align: center;
}

.project_description .links div img {
    width: 30px;
    height: 30px;
}

.project_description .links div p {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

@media (max-width:769px){
    .project_detailed>img {
        width: 40%;
        height: 80%;
    }
    .project_detailed .project_description{
        width: 60%;
        padding: 0 20px;
        height: 80%;
    }
}

@media (max-width:769px){
    .project_detailed{
        flex-direction: column;
        height: 700px;
        width: 95%;
        
    }
    .project_detailed>img{
        width: 100%;
        height: 50%;
    }
    .project_detailed .project_description{
        width: 100%
    }
    .project_detailed .project_description h3{
        text-align: center;

    }
    .project_detailed .project_description .links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;     
    }
}