.menu{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;    
}
.go-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: rgba(150,210,254,0.8);
    background: radial-gradient(rgba(150,210,254,0.8), rgba(150,210,254,0.0));
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: ease-in-out .4s;
}
.go-top:hover{
    background-color: black;
    box-shadow: 1px 1px 10px rgba(150,210,254,0.8);
}
.menu div{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px 20px;
    
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.menu div i {
    text-shadow: 1px 1px 5px rgba(0, 255, 255, .8);
    font-size: 1.5em;
    padding:1px;
}
.menu a{
    text-decoration: none;
    color: black;
    background-color: rgba(150,210,254,0.8);
    border: .8px solid grey;
    padding: 8px 15px;
    margin: 10px;
    border-radius: 10px;

}
.menu a:first-child{
    border-radius: 50%;
    padding:5px;
}
.menu .tooltip .tooltiptext {
    visibility: hidden;
    width: 50px;
    font-size: .5em;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.menu .tooltip:hover .tooltiptext {
    visibility: visible;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}

